<ion-view view-title="Game">
 <ion-content>
  <div ng-show="pageLoaded">
    <!-- Question texts -->
    <div class="row top-buffer">
      <h2 class="col text-center"> {{currentWord}} </h2>
    </div>

    <!-- Images -->
    <div ng-show="configuration1">
      <div class="row top-buffer-first-button">
        <div class="col col-50 top-buffer-first-image">
          <img class="state-dynamic" src="resources/images/beer.jpg" width="100%" ng-click="clickBeer()">
        </div>
        <div class="col col-50 top-buffer-first-image">
          <img class="state-dynamic" src="resources/images/kitten.jpg" width="100%" ng-click="clickKitten()">
        </div>
      </div>
    </div>

    <div ng-hide="configuration1">
      <div class="row top-buffer-first-button">
        <div class="col col-50 top-buffer-first-image">
          <img class="state-dynamic" src="resources/images/kitten.jpg" width="100%" ng-click="clickKitten()">
        </div>
        <div class="col col-50 top-buffer-first-image">
          <img class="state-dynamic" src="resources/images/beer.jpg" width="100%" ng-click="clickBeer()">
        </div>
      </div>
    </div>
  </div>

    <div ng-hide="pageLoaded">
        <!-- Progress bar -->
        <div class="row text-center">
          <div class="col text-center top-buffer-first-button">
            <h2> GET READY! </h2>
            <progress max="100" value="{{progressval}}"> </progress>
            <div class="text-center"> {{progressval}} % </div>
          </div>
        </div>
    </div>

    <div ng-show="pageLoaded">
      <!-- Score -->
      <div class="row top-buffer-first-button">
        <h4 class="col text-center"> Your Score: {{currentScore}} </h4>
      </div>
    </div>

 </ion-content>
</ion-view>